<div class='mt-5 container'>
  <div class="row">
    <div class="col-md-4 col-md-offset-6">
      <h3>Offer Target</h3>
      <div class='mb-3'>
        <span class='font-weight-bold'>Title: </span>
        <%= @resource.title %>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Header: </span>
        <%= @resource.header %>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Description: </span>
        <%= @resource.description %>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Points: </span>
        <%= @resource.points %>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Patout: </span>
        <%= @resource.payout %>
      </div>

      <%= link_to 'Edit', edit_offer_target_path(@resource), class:'mt-2 btn btn-outline-secondary' %>
      <%= link_to 'Back', :back, class: 'mt-2 btn btn-outline-secondary' %>
  <%= link_to 'Go to Offers', offers_path, class: 'mt-2 btn btn-outline-secondary' %>
    </div>
  </div>
</div>
