<div class='mt-5 container' data-controller="players">
  <h1>Players</h1>

  <div class="row mb-3">
    <div class="col-sm-3">
      <h5>Filter by offer target</h5>
    </div>
    <div class="col-sm-6">
      <%= collection_select(:offer_target, :id, OfferTarget.all, :id, :to_s,
                            { include_blank: 'Select' },
                            { class: 'form-select search-by-offer-target',
                              data: { action: 'change->players#filter_by_offer_target' } }) %>
    </div>
  </div>

  <table class='table table-striped players'>
    <thead class='table-dark'>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th colspan='3'></th>
      </tr>
    </thead>
    <tbody>
      <% unless @resources.length%>
        <tr class="text-center">
          <td colspan="7">No player found!</td>
        </tr>
      <% end %>
      <% @resources.each do |player| %>
        <tr class='align-middle'>
          <td><%= player.first_name %></td>
          <td><%= player.last_name %></td>
          <td><%= player.birthdate %></td>
          <td><%= player.gender %></td>
          <td><%= link_to 'Show', player, class: 'mt-2 btn btn-outline-primary' %></td>
          <td><%= link_to 'Edit', edit_player_path(player), class: 'mt-2 btn btn-outline-primary' %></td>
          <td><%= button_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mt-2 btn btn-outline-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add New player', new_player_path, class: 'mt-2 btn btn-outline-secondary' %>
  <%= link_to 'Back', :back, class: 'mt-2 btn btn-outline-secondary' %>
</div>
