<div class='my-5 container' data-controller='offers'>
  <h1>Offers</h1>
  <div class='row mb-3'>
    <div class='col-sm-3'>
      <h5>Check payout by age range:</h5>
    </div>
    <div class='col-sm-6'>
      <input type='text' id='age-range-input' placeholder='Enter age range e.g. (13-35)' class='mb-3 form-control' />
    </div>
    <div class='col-sm-3'>
      <button class='btn btn-outline-secondary total-payout-btn' data-action='click->offers#total_payout_by_age_range'>
        Total payout
      </button>
    </div>
  </div>

  <table class='table table-striped'>
    <thead class='table-dark'>
      <tr>
        <th>Title</th>
        <th>Header</th>
        <th>Description</th>
        <th>Points</th>
        <th>Payout</th>
        <th colspan='3'></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'offer', collection: @resources, as: :offer %>
    </tbody>
  </table>

  <%= paginate @resources %>

  <%= link_to 'Add New Offer', new_offer_path, class: 'mt-2 btn btn-outline-secondary' %>
  <%= link_to 'Back', :back, class: 'mt-2 btn btn-outline-secondary' %>
</div>

<%= render 'shared/modal' %>
